/* ====== GLOBAL ====== */
body {
  margin: 0;
  font-family:  Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #081b33;
  color: #fff;
}

/* ====== NAVBAR ====== */
.navbar {
  background-color: #0b1624;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.yellow {
  color: #f1b400;
}

.nav-links a {
  background-color: #f1b400;
  color: #000;
  text-decoration: none;
  padding: 6px 12px;
  margin-left: 10px;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.25s ease;
}

.nav-links a:hover {
  background-color: #ffcd42;
  transform: translateY(-2px);
}

/* ====== FORM LAYOUT ====== */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  padding: 20px;
}

.form-card {
  background-color: #102949;
  padding: 40px 45px;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.25s;
}

.form-card:hover {
  transform: translateY(-4px);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f1b400;
}

.form-card label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #cdd8e8;
}

.form-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #1e3550;
  border-radius: 6px;
  background-color: #0a1a2e;
  color: white;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease;
}

.submit-btn {
  width: 100%;
  background-color: #f1b400;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;

}

.submit-btn:hover {
  background-color: #ffd24a;
  transform: translateY(-2px);
}

/* ====== MEME PAGE ====== */
.main {
  padding: 40px 60px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #f1b400;
}

.meme-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.meme-card {
  background-color: #0f2744;
  border-radius: 8px;
  width: 250px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  transition: transform 0.25s, box-shadow 0.25s;
}

.meme-card:hover {
  transform: translateY(-4px);
}

.meme-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.meme-card h3 {
  margin: 4px 0;
  font-size: 15px;
  color: #fff;
}

.caption {
  font-size: 13px;
  color: #a8b2c1;
}

.author {
  font-size: 12px;
  color: #b9c2d3;
  font-style: italic;
  text-align: right;
}
